html {
	height: 100%;
}
body {
	height: 100%;
	font-family: 'Lato', sans-serif;
	color: #333;
}
a {
    color: #3ebebb;
}
#container-main {
	/*background: #F7F9FA;*/
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06), 0 2px 5px 0 rgba(0,0,0,0.2);
    position: relative;
    height: calc(100% - 30px);
    margin: 0 auto;
    top: 15px;
    border-radius: 2px;
}
#container-single {
    position: relative;
    height: calc(100% - 30px);
    top: 15px;
}
#container-single > .row {
	height: 100%;
}
#col-main {
	height: 100%;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.08);
    padding: 0;
}
#container-main > .row {
	height: 100%;
}
#col-left {
	height: 100%;
	border-right: 1px solid rgba(0,0,0,0.08);
	padding: 0;
}
#header {
	background: #EEEEEE;
	border-bottom: 1px solid rgba(0,0,0,0.08);
	padding: 10px;
}
#session-data {
	margin-bottom: 0;
}
#search-control {
	border-bottom: 1px solid rgba(0,0,0,0.08);
	padding: 10px;
    margin-bottom: 0
}
#search {
	font-family: FontAwesome, 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
#list-contact {
    height: calc(100% - 117px);
	overflow-y: scroll;
	margin-bottom: 0;
}
#list-contact .list-group-item{
	border-left: 0;
	border-right: 0;
}
#list-contact .list-group-item:first-child{
	border-top: none;
}
#list-contact .img-circle {
	width: 50px;
}
#header-contact {
	background: #EEEEEE;
	border-bottom: 1px solid rgba(0,0,0,0.08);
	color: #999999;
}
#chat-history {
	padding: 0;
	position: relative;
	height: 100%;
}
#header-contact img {
	height: 65px;
	visibility: hidden;
}
#header-contact img.visible {
	visibility: visible;
}
#send-form {
	padding: 15px;
	background: #EEEEEE;
	border-top: 1px solid rgba(0,0,0,0.08);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
#messages-container {
}
#messages-history {
    height: calc(100% - 143px);
	overflow-y: scroll;
	padding: 0 15px;
	margin-bottom: 0;
}
#messages-history .list-group-item{
	border-left: 0;
	border-right: 0;
}
#messages-history .list-group-item:first-child{
	border-top: none;
}
#messages-history .list-group-item:last-child{
	border-bottom: none;
}
#messages-history .img-circle {
	width: 65px;
}
#messages-history .list-group-item small {
	margin-top: 10px;
}

@media(max-width:767px){
	#container-single, #container-main {
		height: 100%;
		top: 0;
	}
	#chat-history {
		display: none;
	}
	#list-contact {
	    height: calc(100% - 157px);
	}
	#messages-history {
		height: calc(100% - 190px);
	}
	#messages-history.aux-history {
		height: calc(100% - 145px);
	}